--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: newschema; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA newschema;


ALTER SCHEMA newschema OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: applications; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.applications (
    id bigint NOT NULL,
    quantity integer,
    status character varying(50),
    ipo_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE newschema.applications OWNER TO admin;

--
-- Name: auth_group; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE newschema.auth_group OWNER TO admin;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE newschema.auth_group_permissions OWNER TO admin;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE newschema.auth_permission OWNER TO admin;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE newschema.auth_user OWNER TO admin;

--
-- Name: auth_user_groups; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE newschema.auth_user_groups OWNER TO admin;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE newschema.auth_user_user_permissions OWNER TO admin;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE newschema.django_admin_log OWNER TO admin;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE newschema.django_content_type OWNER TO admin;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE newschema.django_migrations OWNER TO admin;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE newschema.django_session OWNER TO admin;

--
-- Name: documents; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.documents (
    id bigint NOT NULL,
    rhp_pdf character varying(500) NOT NULL,
    drhp_pdf character varying(500) NOT NULL,
    ipo_id bigint NOT NULL
);


ALTER TABLE newschema.documents OWNER TO admin;

--
-- Name: ipo_application_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.applications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.ipo_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ipo_company; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.ipo_company (
    id bigint NOT NULL,
    company_name character varying(255) NOT NULL,
    company_logo character varying(500) NOT NULL
);


ALTER TABLE newschema.ipo_company OWNER TO admin;

--
-- Name: ipo_company_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.ipo_company ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.ipo_company_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ipo_document_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.documents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.ipo_document_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ipos; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.ipos (
    id bigint NOT NULL,
    price_band character varying(50) NOT NULL,
    open_date date NOT NULL,
    close_date date NOT NULL,
    issue_size character varying(100) NOT NULL,
    issue_type character varying(50) NOT NULL,
    listing_date date NOT NULL,
    status character varying(20) NOT NULL,
    ipo_price numeric(10,2) NOT NULL,
    listing_price numeric(10,2) NOT NULL,
    listing_gain numeric(5,2) NOT NULL,
    current_market_price numeric(10,2) NOT NULL,
    current_return numeric(5,2) NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE newschema.ipos OWNER TO admin;

--
-- Name: ipo_ipo_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.ipos ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.ipo_ipo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: newschema; Owner: admin
--

CREATE TABLE newschema.users (
    id bigint NOT NULL,
    email character varying(254) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(100),
    role character varying(50)
);


ALTER TABLE newschema.users OWNER TO admin;

--
-- Name: ipo_user_id_seq; Type: SEQUENCE; Schema: newschema; Owner: admin
--

ALTER TABLE newschema.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME newschema.ipo_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: applications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.applications (
    id integer NOT NULL,
    user_id integer,
    ipo_id integer,
    quantity integer,
    status character varying(50)
);


ALTER TABLE public.applications OWNER TO postgres;

--
-- Name: applications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.applications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.applications_id_seq OWNER TO postgres;

--
-- Name: applications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.applications_id_seq OWNED BY public.applications.id;


--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id integer NOT NULL,
    ipo_id integer,
    doc_type character varying(50),
    link text
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: documents_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.documents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.documents_id_seq OWNER TO postgres;

--
-- Name: documents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.documents_id_seq OWNED BY public.documents.id;


--
-- Name: ipos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ipos (
    id integer NOT NULL,
    company_name character varying(255) NOT NULL,
    symbol character varying(10) NOT NULL,
    open_date date,
    close_date date,
    price_range character varying(50),
    status character varying(50)
);


ALTER TABLE public.ipos OWNER TO postgres;

--
-- Name: ipos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ipos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ipos_id_seq OWNER TO postgres;

--
-- Name: ipos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ipos_id_seq OWNED BY public.ipos.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    name character varying(100),
    role character varying(50)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: applications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications ALTER COLUMN id SET DEFAULT nextval('public.applications_id_seq'::regclass);


--
-- Name: documents id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents ALTER COLUMN id SET DEFAULT nextval('public.documents_id_seq'::regclass);


--
-- Name: ipos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ipos ALTER COLUMN id SET DEFAULT nextval('public.ipos_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: applications; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.applications (id, quantity, status, ipo_id, user_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: newschema; Owner: admin
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
2	pbkdf2_sha256$720000$8col3wP1J9mEbdfOcyXltX$/IQwv/ShVcH7yDWFi4uofU+jpIqh2P/rm+Miz+nqMc8=	\N	t	ipo_admin			admin@ipo.com	t	t	2025-06-24 21:21:56.046326+05:30
3	pbkdf2_sha256$720000$I9n84a3ipjO7KQXcFsM7eG$WN+IZN5AoYL8Yhad+6q8aoM9suO2tn0Gh3w647p1soY=	\N	t	Ipo_Test			admin@123.com	t	t	2025-06-24 22:22:58.172439+05:30
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	ipo	ipo
8	ipo	document
9	ipo	company
10	ipo	user
11	ipo	application
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: newschema; Owner: admin
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.django_session (session_key, session_data, expire_date) FROM stdin;
e5dd58b1bjz7oftib6pw5b7yuafawra4	.eJxVjDkOwjAUBe_iGll2vFPScwbrbyEBlEhxUiHuDpFSQPtm5r1UhW0d6tZkqSOrs7Lq9Lsh0EOmHfAdptusaZ7WZUS9K_qgTV9nluflcP8OBmjDt3aRPRMYb3ySkEr0pkAqhdB3aL0l7DLn3gn1zCFiIARG57JAkuhEvT_ikjiV:1uSGQG:glYuWM_wBQRFOESvMVTDugvfg10JcIFF9_ZBOrC5sfk	2025-07-03 20:09:24.014115+05:30
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.documents (id, rhp_pdf, drhp_pdf, ipo_id) FROM stdin;
\.


--
-- Data for Name: ipo_company; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.ipo_company (id, company_name, company_logo) FROM stdin;
1	tcs	https://via.placeholder.com/150
2	TestCorp	https://via.placeholder.com/150
\.


--
-- Data for Name: ipos; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.ipos (id, price_band, open_date, close_date, issue_size, issue_type, listing_date, status, ipo_price, listing_price, listing_gain, current_market_price, current_return, company_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: newschema; Owner: admin
--

COPY newschema.users (id, email, password, name, role) FROM stdin;
\.


--
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.applications (id, user_id, ipo_id, quantity, status) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.documents (id, ipo_id, doc_type, link) FROM stdin;
\.


--
-- Data for Name: ipos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ipos (id, company_name, symbol, open_date, close_date, price_range, status) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, password, name, role) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.auth_permission_id_seq', 44, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.auth_user_id_seq', 3, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.django_migrations_id_seq', 21, true);


--
-- Name: ipo_application_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.ipo_application_id_seq', 1, false);


--
-- Name: ipo_company_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.ipo_company_id_seq', 2, true);


--
-- Name: ipo_document_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.ipo_document_id_seq', 1, false);


--
-- Name: ipo_ipo_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.ipo_ipo_id_seq', 1, false);


--
-- Name: ipo_user_id_seq; Type: SEQUENCE SET; Schema: newschema; Owner: admin
--

SELECT pg_catalog.setval('newschema.ipo_user_id_seq', 1, false);


--
-- Name: applications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.applications_id_seq', 1, false);


--
-- Name: documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.documents_id_seq', 1, false);


--
-- Name: ipos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ipos_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: applications ipo_application_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.applications
    ADD CONSTRAINT ipo_application_pkey PRIMARY KEY (id);


--
-- Name: ipo_company ipo_company_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.ipo_company
    ADD CONSTRAINT ipo_company_pkey PRIMARY KEY (id);


--
-- Name: documents ipo_document_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.documents
    ADD CONSTRAINT ipo_document_pkey PRIMARY KEY (id);


--
-- Name: ipos ipo_ipo_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.ipos
    ADD CONSTRAINT ipo_ipo_pkey PRIMARY KEY (id);


--
-- Name: users ipo_user_email_key; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.users
    ADD CONSTRAINT ipo_user_email_key UNIQUE (email);


--
-- Name: users ipo_user_pkey; Type: CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.users
    ADD CONSTRAINT ipo_user_pkey PRIMARY KEY (id);


--
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: ipos ipos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ipos
    ADD CONSTRAINT ipos_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_group_name_a6ea08ec_like ON newschema.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON newschema.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON newschema.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON newschema.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_user_groups_group_id_97559544 ON newschema.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON newschema.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON newschema.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON newschema.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX auth_user_username_6821ab7c_like ON newschema.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON newschema.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON newschema.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX django_session_expire_date_a5c62663 ON newschema.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX django_session_session_key_c0390e0f_like ON newschema.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: ipo_application_ipo_id_5e707bf6; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX ipo_application_ipo_id_5e707bf6 ON newschema.applications USING btree (ipo_id);


--
-- Name: ipo_application_user_id_30d7210c; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX ipo_application_user_id_30d7210c ON newschema.applications USING btree (user_id);


--
-- Name: ipo_document_ipo_id_b3b3c01b; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX ipo_document_ipo_id_b3b3c01b ON newschema.documents USING btree (ipo_id);


--
-- Name: ipo_ipo_company_id_afb1ab55; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX ipo_ipo_company_id_afb1ab55 ON newschema.ipos USING btree (company_id);


--
-- Name: ipo_user_email_a66ebeca_like; Type: INDEX; Schema: newschema; Owner: admin
--

CREATE INDEX ipo_user_email_a66ebeca_like ON newschema.users USING btree (email varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES newschema.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES newschema.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES newschema.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES newschema.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES newschema.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES newschema.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES newschema.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES newschema.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES newschema.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: applications ipo_application_ipo_id_5e707bf6_fk_ipo_ipo_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.applications
    ADD CONSTRAINT ipo_application_ipo_id_5e707bf6_fk_ipo_ipo_id FOREIGN KEY (ipo_id) REFERENCES newschema.ipos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: applications ipo_application_user_id_30d7210c_fk_ipo_user_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.applications
    ADD CONSTRAINT ipo_application_user_id_30d7210c_fk_ipo_user_id FOREIGN KEY (user_id) REFERENCES newschema.users(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: documents ipo_document_ipo_id_b3b3c01b_fk_ipo_ipo_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.documents
    ADD CONSTRAINT ipo_document_ipo_id_b3b3c01b_fk_ipo_ipo_id FOREIGN KEY (ipo_id) REFERENCES newschema.ipos(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ipos ipo_ipo_company_id_afb1ab55_fk_ipo_company_id; Type: FK CONSTRAINT; Schema: newschema; Owner: admin
--

ALTER TABLE ONLY newschema.ipos
    ADD CONSTRAINT ipo_ipo_company_id_afb1ab55_fk_ipo_company_id FOREIGN KEY (company_id) REFERENCES newschema.ipo_company(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: applications applications_ipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_ipo_id_fkey FOREIGN KEY (ipo_id) REFERENCES public.ipos(id);


--
-- Name: applications applications_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: documents documents_ipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_ipo_id_fkey FOREIGN KEY (ipo_id) REFERENCES public.ipos(id);


--
-- PostgreSQL database dump complete
--

